@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: antiquewhite;
}

.brand img{
    width: 70px;
    padding: 0 8px;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: grey;
    color: white;
}

nav ul li{
    padding: 0px 12px;
    color: black;
}

.brand{
    display: flex;
    align-items: center;
}

.container{
    min-height: 75vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 20px;
    background-image: url('images/bg.jpg');
}

.bottom{
    position: sticky;
    height: 100px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons{
    margin: 12px 0;
}

.icons i{
    cursor: pointer;    
}

#myProgressBar{
    width: 80vw;
    text-align: center;
    cursor: pointer;
}

.songItemContainer{
    margin-top: 80px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 40px;
    margin: 0 20px;
    border-radius: 34px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.songlistplay i{
    cursor: pointer;
}